@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Gestión de clientes</h1>
        <p class="lead">Bienvenido a la gestión de clientes</p>
        
    </section>

</main>